name: Platform Lib Pipeline
on: [push]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v3

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.23.0'

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint
        run: just lint

      - name: Vet
        run: just vet

      - name: Test
        run: just test-integration
